/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 21.01.2020, 12:06:08
    Author     : Matthias Gallo
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{background-color: white;
 }


.loadcontainer {position: fixed;
    height: 100vh;
    width: 100vw;
	background: white;display: none;top:0; left:0}
	
.loadcenter {display: flex;align-items: center;     padding-top: 30vh;
    padding-bottom: 10vh;}

.quotesloader {width: 50vh;
    text-align: center;
    display: block;
    margin: 0 auto;}

 .loader {
	color: #000000;
	font-size: 90px;
	text-indent: -9999em;
	overflow: hidden;
	width: 1em;
	height: 1em;
	border-radius: 50%;
	margin: 72px auto;
	position: relative;
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
	animation: load6 1.7s infinite ease, round 1.7s infinite ease;
  }
  @-webkit-keyframes load6 {
	0% {
	  box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
	}
	5%,
	95% {
	  box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
	}
	10%,
	59% {
	  box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
	}
	20% {
	  box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
	}
	38% {
	  box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
	}
	100% {
	  box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
	}
  }
  @keyframes load6 {
	0% {
	  box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
	}
	5%,
	95% {
	  box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
	}
	10%,
	59% {
	  box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
	}
	20% {
	  box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
	}
	38% {
	  box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
	}
	100% {
	  box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
	}
  }
  @-webkit-keyframes round {
	0% {
	  -webkit-transform: rotate(0deg);
	  transform: rotate(0deg);
	}
	100% {
	  -webkit-transform: rotate(360deg);
	  transform: rotate(360deg);
	}
  }
  @keyframes round {
	0% {
	  -webkit-transform: rotate(0deg);
	  transform: rotate(0deg);
	}
	100% {
	  -webkit-transform: rotate(360deg);
	  transform: rotate(360deg);
	}
  }


h1, h2, h3, h4, h5 {font-family: 'Noto Sans', sans-serif;line-height: 1.3em;}

p {font-family: 'Open Sans', sans-serif;line-height: 1.3em;font-size: 1.2em;}

h1 {font-size: 3em}

h2 {font-size: 1.8em}

h3 {font-size: 1.6em}

h4 {font-size: 1.3em}

/* Header */

#menu-bar {height:60px; background: #232526;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	padding: 0px 20px;
	display: flex; align-items: center; position: fixed;top:0; left:0; width: 100%;
	}

#menu-bar svg {cursor: pointer;}

.menu-button-container {position: fixed;}

#pagename-container {width: 100%;}

#span-stock-price-change {margin-left: 20px;}

#header-pagename {color:whitesmoke; text-align: center;font-weight: bold;}

#stock-page h2, #stock-page h3, #stock-page p {color:whitesmoke}

#menu-page {display: none; background: rgba(0, 0, 0,0.86);position: fixed; top:60px; left:0; width: 100%; backdrop-filter: blur(5px);}

.content-container {padding-top: 60px !important;}

#MonthlyStockPriceContainer {background: rgb(0, 0, 0)}

#QuorterFinancialRatioContainer {height: 50vh; min-height: 500px; padding: calc(20vh - 15px) 0px;}

#FinancialRatiosImage {background-image: url('/assets/img/FinancialRatio.jpg');}


#FinancialRatiosLayer {background-color: rgba(0, 0, 0,0.8)}

#stock-first-sector {background-image: url('/assets/img/stock.jpg');}

#stock-first-sector-layer {background: rgba(0, 0, 0,0.8)}

#stock-first-sector h1 {color: white;}

#stock-name {height: 20vh; min-height: 100px;}

#page-not-found-page {background-color:#ff6384}

#page-not-found-content h1 {font-size: 30vw;text-align: center; color:#000 }

#page-not-found-content h4 {text-align: center; color:#000}

#DailyStockPriceContainer {height: calc(80vh - 120px); min-height: 400px;}

#company-info-sector-layer {background: rgb(0,0,0);
	background: -moz-linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.7511598389355743) 35%, rgba(0,0,0,0.748358718487395) 65%, rgba(0,0,0,1) 100%);
	background: -webkit-linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.7511598389355743) 35%, rgba(0,0,0,0.748358718487395) 65%, rgba(0,0,0,1) 100%);
	background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.7511598389355743) 35%, rgba(0,0,0,0.748358718487395) 65%, rgba(0,0,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);}

#company-info-sector {background-image: url('/assets/img/Internet SoftwareServices.jpg');}

/* Sector Framework */

.s-fullpage {min-height: 100vh}

.s-halfpage {min-height:50vh}

.s-inner {padding: 30px 20px}

.s-center-vertical {display: flex; align-items: center; justify-content: center; flex-direction: column}

.s-center-content {display: flex; align-items: center; justify-content: center}

.s-flex {display:flex}

.s-none {display: none}

.s-block {display: block}

.s-backimg {background-size: cover; background-position: center;}

.s-text-upper {text-transform: uppercase;}



